In [1]:
#dependencies
import pandas as pd

In [2]:
#make a references to the Heroes files
csv_path="Resources/purchase_data.csv"

#read the file and return the table
heroes_df=pd.read_csv(csv_path)
heroes_df
heroes_df.sample(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
254,254,Quanunwen42,23,Female,94,Mourning Blade,3.49
263,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",4.40
644,644,Bartassaya73,26,Male,22,Amnesia,2.18
214,214,Iaralsuir44,23,Male,137,"Aetherius, Boon of the Blessed",3.39
470,470,Arirgue63,29,Male,4,Bloodlord's Fetish,1.70

In [3]:
#get the number of unique items on the SN column 
count=heroes_df["SN"].nunique()

#get the number of unique items on the item name column 
items=heroes_df["Item Name"].nunique()

numberOfPurchases=heroes_df["Purchase ID"].count()

revenue=heroes_df["Price"].sum()


#print(revenue)
#print(numberOfPurchases)
#print(items)
#print(count)

In [4]:
# Player Count
#Create the data frame for total players. 
player_df=pd.DataFrame({"Total payer":[count]})
player_df

   Total payer
0          576

In [5]:
# Purchasing Analysis (Total)
#returns the average price
averagePrice=heroes_df["Price"].mean()

#creats data frame for averga price
purchasing_df=pd.DataFrame({"Number of unique items":[items],
                            "average Price":[averagePrice],
                            "Purchase ID":[numberOfPurchases],
                           "Price":[revenue]})
purchasing_df

   Number of unique items  average Price  Purchase ID    Price
0                     179       3.050987          780  2379.77

In [6]:
#Gender Demographics
gender=heroes_df.groupby("Gender").nunique()
gender_df=gender[["SN"]]
#percentage_gender=gender_df["SN"]
#perc_df['percentage']=gender_df
#gender_df['perc']=test


gender_df.head()

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [7]:
#df[percent] = (df['column_name'] / df['column_name'].sum()) * 100
perc_df= gender_df
perc_df['percent'] = (gender_df['SN']/gender['SN'].sum())*100
perc_df

<ipython-input-7-5bcf95c0c8c5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perc_df['percent'] = (gender_df['SN']/gender['SN'].sum())*100

                        SN    percent
Gender
Female                  81  14.062500
Male                   484  84.027778
Other / Non-Disclosed   11   1.909722