In [1]:
#dependencies
import pandas as pd

In [2]:
#make a references to the Heroes files
csv_path="Resources/purchase_data.csv"

#read the file and return the table
heroes_df=pd.read_csv(csv_path)
heroes_df = heroes_df.dropna(how='any')
heroes_df

heroes_df.sample(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
240,240,Lirtastsda29,16,Male,82,Nirvana,4.90
610,610,Frichossala54,7,Male,159,"Oathbreaker, Spellblade of Trials",3.08
71,71,Hari50,20,Female,29,"Chaos, Ender of the End",1.98
382,382,Phistyn52,24,Male,164,Exiled Doomblade,1.63
491,491,Marughi89,22,Male,22,Amnesia,2.18
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
132,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
602,602,Seosrim97,20,Male,65,Conqueror Adamantite Mace,4.24
126,126,Frichim77,24,Male,75,Brutality Ivory Warmace,2.42
335,335,Undimsya85,33,Male,67,"Celeste, Incarnation of the Corrupted",3.46
553,553,Yadam35,28,Male,2,Verdict,2.48
768,768,Assassasta79,38,Male,92,Final Critic,4.88
408,408,Raesty92,12,Male,53,Vengeance Cleaver,2.05
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
475,475,Lirtistanya48,24,Male,6,Rusty Skull,3.70
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [3]:
#get the number of unique items on the SN column 
count=heroes_df["SN"].nunique()

#get the number of unique items on the item name column 
items=heroes_df["Item Name"].nunique()

numberOfPurchases=heroes_df["Purchase ID"].count()

revenue=heroes_df["Price"].sum()


#print(revenue)
#print(numberOfPurchases)
#print(items)
#print(count)

In [4]:
# Player Count
#Create the data frame for total players. 
player_df=pd.DataFrame({"Total payer":[count]})
player_df

   Total payer
0          576

In [5]:
# Purchasing Analysis (Total)

#returns the average price
averagePrice=heroes_df["Price"].mean()

#creats data frame for averga price
purchasing_df=pd.DataFrame({"Number of unique items":[items],
                            "average Price":[averagePrice],
                            "Purchase ID":[numberOfPurchases],
                           "Price":[revenue]})
purchasing_df

   Number of unique items  average Price  Purchase ID    Price
0                     179       3.050987          780  2379.77

In [6]:
#Gender Demographics
gender=heroes_df.groupby("Gender").nunique()
gender_df=gender[["SN"]]

gender_df.head()

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [7]:
#df[percent] = (df['column_name'] / df['column_name'].sum()) * 100
perc_df= pd.DataFrame(gender_df)
perc_df['percent'] = (gender_df['SN']/gender['SN'].sum())*100
perc_df

                        SN    percent
Gender
Female                  81  14.062500
Male                   484  84.027778
Other / Non-Disclosed   11   1.909722

In [8]:
# Purchasing Analysis (Gender)
purchases_analisys = heroes_df.groupby("Gender").count()
purchases_analisys_df=purchases_analisys

purchases_analisys_df

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [10]:
male_purchase_count2= heroes_df['Gender'].value_counts()['Male']
female_purchase_count2 = heroes_df['Gender'].value_counts()['Female']
other_purchase_count = numberOfPurchases - male_purchase_count2 - female_purchase_count2

15